{{form_start(form, {attr: 
    {class: 
        'filter-container d-flex flex-column justify-content-between align-items-center'
    }})
}}

<h3 class="filter_title text-center">Recherche par:</h3>

{{ form_widget(form.categories) }}

<button type="submit" class="btn filter_btn">Trier</button>
{{form_end(form) }}

