{% extends 'base.html.twig' %}

{% block title %}MK EVENEMENTS - Page non trouvée !{% endblock %}

{% block body %}

<div class="d-flex flex-column justify-content-center align-items-center ">

    <div id="main_index_titles_container">

        <div id="subtitle_main_index">
            <h2 class="text-center">OOPS ! CETTE PAGE N'EXISTE PAS !</h2>
        </div>
    </div>

</div>

{% endblock %}